
<div class="top-bar-left">
    <input type="checkbox" id="menu-click">
    <div onclick="menu()" class="menu-icon">
        <img src="./assets/icons/menu.svg" alt="">
    </div>
    <div class="search-box">
        <div class="search-icon">
            <img src="./assets/icons/search.svg" alt="">
        </div>
        <div class="search-input">
            <input id="search" type="text" placeholder="Search category, book title" onkeyup="search()">
            <ul id="search-result" class="list-search-category">
            </ul>
        </div>
    </div>
</div>
<div class="top-bar-right">
    <div class="notify">
        <img src="./assets/images/notify.png" alt="">
    </div>
    <div class="country">
        <div class="flag">
            <img src="./assets/images/Flag.png" alt="">
        </div>
        <div class="country-name">
            <span>English</span>
            <img src="./assets/icons/Drop Down.svg" alt="">
        </div>
    </div>
    <div class="user-box">
        <div class="avatar">
            <img src="./assets/images/man-438081_960_720.png" alt="">
        </div>
        <div class="user-info">
            <div class="user-name">
                <span>Moni Roy</span>
            </div>
            <div class="user-role">
                <span>Admin</span>
            </div>
        </div>
        <div class="more">
            <img src="./assets/icons/More.svg" alt="">
        </div>
    </div>
</div>
