<div class="sidebar-menu">
    <div class="logo">
        <img src="./assets/images/Logo.png" alt="logo-image">
    </div>
    <ul class="sidebar-top">
        <li class="sidebar-item">
            <a href="index.html" class="product">
                <div class="product-icon">
                    <img src="./assets/icons/time.svg" alt="dashboard-icon">
                </div>
                <div class="iteam-text">
                    <span>Dashboard</span>
                </div>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="category.html" class="product">
                <div class="product-icon">
                    <img src="./assets/icons/product-stock.svg" alt="category-icon">
                </div>
                <div class="iteam-text">
                    <span>Category</span>
                </div>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="book.html" class="product">
                <div class="product-icon">
                    <img src="./assets/icons/favorites.svg" alt="book-icon">
                </div>
                <div class="iteam-text">
                    <span>Book</span>
                </div>
            </a>
        </li>
    </ul>
    <ul class="sidebar-bottom">
        <li class="sidebar-item">
            <a href="login.html" class="product">
                <div class="product-icon">
                    <img src="./assets/icons/logout.svg" alt="logout-icon">
                </div>
                <div href="login.html" class="iteam-text">
                    <span>Logout</span>
                </div>
            </a>
        </li>
    </ul>
</div>