html {
    font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,102.7,500;1,6..12,102.7,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
body {
    font-size: 1.45rem;
    line-height: 21.82px;
    color: var(--text-color);
    background-color: var(--background-color);
    background-image: url('../images/background-login.png');
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
:root {
    --background-color: #4880FF;
    --primary-color: #F5F6FA;
    --text-color: #404040;
    --subtext-color: #565656;
    --border-color: #D8D8D8;
    --input-color: #F1F4F9;
}
h1 {
    font-size: 32px;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
.form-login {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 630px;
    background-color: var(--primary-color);
    padding: 90px 57px;
    transform: translateY(12%);
    gap: 40px
}
.form-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form-mid {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.form-mid .form-group input {
    border: 1px solid var(--border-color);
    background-color: var(--input-color);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-group label {
    font-size: 14px;
}
.password-note {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}
.remember-password {
    display: flex;
    justify-content: start;
    gap: 10px;
}
#password {
    margin-bottom: 24px;
}
#remember {
    width: 24px;
    border-radius: 10px;
}

.form-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.form-bottom button {
    font-size: 18px;
    color: var(--primary-color);
    background-color: var(--background-color);
    border: none;
    border-radius: 10px;
    width: 418px;
    height: 56px;
    cursor: pointer;
}
.create-account a {
    text-decoration: underline;
    color: var(--background-color);
}
