html {
    font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,102.7,500;1,6..12,102.7,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
body {
    font-size: 1.45rem;
    line-height: 21.82px;
    color: var(--text-color);
    background-color: var(--primary-color);
    display: flex;
    overflow-x: hidden;
    font-weight: 600;
}
:root {
    --primary-color: #F5F6FA;
    --text-color: #404040;
    --subtext-color: #565656;
    --active-color: #4880FF;
}
h1 {
    font-size: 32px;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
button {
    cursor: pointer;
}
li {
    list-style: none;
}
/* ========================================================
----------------------------Dashboard--------------------------
=========================================================== */
.navigation {
    display: flex;
}
.sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 240px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.6s;
    min-height: 100vh;
}
.logo {
    font-size: 25px;
    margin: 25px;
    transition: ease 0.3s;

}
.bright-web {
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 800;
    line-height: 27.28px;
    text-align: left;    
}
.dash {
    color: var(--active-color);
}
.sidebar-top,
.sidebar-mid,
.sidebar-bottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 0.6px solid #E0E0E0
}
.sidebar-bottom {
    border: none;
}
.sidebar-item {
    position: relative;
    cursor: pointer;
}
.product {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 50px;
    padding-left: 40px;
}
.product-icon {
    display: flex;
    width: 30px;
    align-items: center;
}
.product-text span {
    white-space: nowrap;
    opacity: 0.9;
    pointer-events: auto;
    transition: 0.2s ease;
}
.active-btn {
    color: #fff;
    border-radius: 10px;
    background-color: var(--active-color);
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 240px);
    height: 70px;
    background-color: #fff;
    padding: 0 26px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.top-bar-left {
    display: flex;
    gap: 24px;
}
#menu-click {
    display: none;
}
#menu-click:checked ~ .sidebar-menu {
    width: 120px;
}
.menu-icon {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.search-box {
    position: relative;
    display: flex;
    align-items: center;
}
.search-icon {
    position: absolute;
    top: calc(50% - 10px);
    left: 15px;
}
.search-input input {
    padding: 8px 40px;
    border: 0.6px solid #D5D5D5;
    border-radius: 22px;
    background-color: var(--primary-color);
}
.top-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.country {
    display: flex;
    align-items: center;
    gap: 15px;
}
.country .country-name {
    opacity: 0.8;
}
.user-box {
    display: flex;
    align-items: center;
    gap: 15px;
}
.user-box .user-role {
    opacity: 0.8;
    font-size: 14px;
}

/* =====content===== */
.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 50px 40px 30px;
}
.content {
    display: flex;
    gap: 30px;
}
.card-element {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #fff;
    width: 262px;
    height: 161px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.card-element .card-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card-element .card-description .title{
    opacity: 0.5;
    font-size: 16px;
    font-weight: 600;
}
.card-element .card-description .total{
    font-size: 30px;
}
/* ========================================================
----------------------------Dashboard--------------------------
=========================================================== */
.add-content {
    width: 1140px;
}
.form-box {
    background-color: #fff;
    height: 744px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 100px 180px 60px 180px;

}
.form-box-category {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 60px 180px;
}
#upload-photo {
    display: none;
}
.upload label {
    cursor: pointer; /* Đổi con trỏ chuột khi di chuyển qua */
}
.upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #ECECEE;
    border-radius: 50%;
    cursor: pointer;
}
.upload-icon img {
    opacity: 0.7;
}
.form-box {
    display: grid;
}
.form-box .form-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.form-box .form-upload label {
    color: var(--active-color);
    cursor: pointer;
}

.form-input {
    display: flex; 
    gap: 60px;
}

.form-group {
    flex: 1; 
    margin-right: 10px; 
}
.form-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    border-radius: 5px;
    border: 0.6px solid #D5D5D5;
    background-color: var(--primary-color);
    width: 360px;
    height: 52px;
    padding: 16px;
}
.form-group select {
    border-radius: 5px;
    border: 0.6px solid #D5D5D5;
    background-color: var(--primary-color);
    width: 360px;
    height: 52px;
    padding: 16px;
}
.form-button {
    display: flex;
    justify-content: center;
}
.form-button button {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 18px;
    width: 274px;
    height: 56px;
    border: none;
    border-radius: 10px;
    background-color: var(--active-color);
}

.list {
    background-color: #fff;
    border-radius: 10px;
    width: 1140px;
}
.line {
    border-bottom: 2px solid #E7E8EB;
}
#table {
    border-radius: 10px;
    border: 0.6px solid #D5D5D5;
    width: 1140px;

}
.table-title {
    border-radius: 10px 10px 0 0;
}
#table th {
    text-align: left;
    padding-left: 32px;
    height: 49px;
    border-bottom: 0.6px solid #D5D5D5;

}
#table tr {
    font-weight: 100;
}
#table td {
    text-align: left;
    height: 52px;
    padding-left: 32px;
}
#table-book {
    border-radius: 10px;
    border: 0.6px solid #D5D5D5;
    width: 1140px;

}
#table-book th {
    text-align: left;
    padding-left: 32px;
    height: 49px;
    border-bottom: 0.6px solid #D5D5D5;

}
#table-book tr {
    font-weight: 100;
}
#table-book td {
    text-align: left;
    height: 52px;
    padding-left: 32px;
}
.action {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100px;
    height: 32px;
    border-radius: 10px;
}
.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 32px;
    background-color: #FAFBFD;
    border-radius: 10px 0 0 10px;
    border: 0.6px solid #D5D5D5;
    border-right: none;
    cursor: pointer;
}
.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 32px;
    background-color: #FAFBFD;
    border-radius: 0 10px 10px 0; 
    border: 0.6px solid #D5D5D5;
    cursor: pointer;
}

/* search */
.list-search-category {
    display: none;
    position: absolute;
    background: #fff;
    width: 252px;
    border: 1px solid #D5D5D5;
    border-top: none;
    border-radius: 0 0 20px 20px;
    top: 52px;
    padding: 20px;
}
.list-search-category li {
    padding: 10px 20px;
    border-bottom: 1px solid #D5D5D5;
    cursor: pointer;
}
.list-search-category li:last-child {
    border-bottom: none;
}
.list-search-category li:hover {
    background-color: var(--primary-color);
}

/* popup thong bao */
.confirm-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.confirm-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    position: relative;
    border-radius: 20px;
}
.confirm-content p {
    font-size: 20px;
}
.confirm-buttons {
    display: flex;
    gap: 50px;
}
.confirm-buttons button{
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 80px;
    height: 50px;
}
.confirm-buttons button:hover{

}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

.close:hover {
    color: #000;
}