<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-manager</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/add-style.css">
</head>
<body>
    <nav class="navigation">
        <div class="sidebar-menu">
            <div class="logo">
                <span class="bright-web dash">Dash</span><span class="bright-web">Stack</span>
            </div>
            <ul class="sidebar-top">
                <li class="sidebar-item">
                    <a href="index.html" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/time.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#product" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/product.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>Products</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#favorites" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/favorites.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>Favorites</span>
                        </div>
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="#inbox" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/inbox.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>Inbox</span>
                        </div>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#order-list" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/order-lists.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>Order Lists</span>
                        </div>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="list.html" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/product-stock.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>Product Stock</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="sidebar-mid">
                <li class="sidebar-item">
                    <a href="#pricing" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/pricing.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>Pricing</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#calender" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/calender.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>calender</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#to-do" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/to-do.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>to-do</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item active-btn">
                    <a href="add.html" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/contact.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>contact</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#invoice" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/invoice.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>invoice</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#ui-elements" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/ui-elements.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>ui-elements</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#team" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/team.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>team</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#table" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/table.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>table</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="sidebar-bottom">
                <li class="sidebar-item">
                    <a href="#setting" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/setting.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>setting</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="login.html" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/logout.svg" alt="">
                        </div>
                        <div href="login.html" class="product-text">
                            <span>logout</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <header class="top-bar">
            <div class="top-bar-left">
                <input type="checkbox" id="menu-click">
                <label for="menu-click" class="menu-icon">
                    <img src="./assets/icons/menu.svg" alt="">
                </label>
                <div class="search-box">
                    <div class="search-icon">
                        <img src="./assets/icons/search.svg" alt="">
                    </div>
                    <div class="search-input">
                        <input type="text" placeholder="Search">
                    </div>
                </div>
            </div>
            <div class="top-bar-right">
                <div class="notify">
                    <img src="./assets/images/notify.png" alt="">
                </div>
                <div class="country">
                    <div class="flag">
                        <img src="./assets/images/Flag.png" alt="">
                    </div>
                    <div class="country-name">
                        <span>English</span>
                        <img src="./assets/icons/Drop Down.svg" alt="">
                    </div>
                </div>
                <div class="user-box">
                    <div class="avatar">
                        <img src="./assets/images/man-438081_960_720.png" alt="">
                    </div>
                    <div class="user-info">
                        <div class="user-name">
                            <span>Moni Roy</span>
                        </div>
                        <div class="user-role">
                            <span>Admin</span>
                        </div>
                    </div>
                    <div class="more">
                        <img src="./assets/icons/More.svg" alt="">
                    </div>
                </div>
            </div>
        </header>
        <section class="dashboard-content">
            <div class="heading">
                <h1>Add New Contact</h1>
            </div>
            <div class="add-content">
                <div class="form-box">
                    <div class="form-upload">
                        <div class="upload">
                            <input type="file" accept="image/*" id="upload-photo">
                            <label for="upload-photo" class="upload-icon">
                                <img src="./assets/icons/camera.svg" alt="">
                            </label>
                        </div>
                        <label for="upload-photo">Upload Photo</label>
                    </div>
                    <div class="form-input">
                        <div class="form-group">
                            <label for="fist-name">Firt Name</label>
                            <input type="text" id="fist-name" placeholder="Enter your first name">
                        </div>
                        <div class="form-group">
                            <label for="last-name">Last Name</label>
                            <input type="text" id="last-name" placeholder="Enter your last name">
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="form-group">
                            <label for="your-email">Your Email</label>
                            <input type="text" id="your-email" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="phone-number">Phone Number</label>
                            <input type="text" id="phone-number" placeholder="Enter your phone number">
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="form-group">
                            <label for="date-of-birth">Date of Birth</label>
                            <input type="text" id="date-of-birth" placeholder="Enter your birthdate">
                        </div>
                        <div class="form-group">
                            <label for="genre">Genre</label>
                            <select id="genre">
                                <option value="" disabled selected hidden>Male</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>                            
                        </div>
                    </div>
                </div>
            </div>

        </section>
</body>
<script src="./assets/js/main.js"></script>
</html>