<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-manager</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/add-style.css">
</head>
<body onload="showBook()">
    <nav class="navigation">
        <div class="sidebar-menu">
            <div class="logo">
                <img src="./assets/images/Logo.png" alt="">
            </div>
            <ul class="sidebar-top">
                <li class="sidebar-item">
                    <a href="index.html" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/time.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="category.html" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/product-stock.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>Category</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item active-btn">
                    <a href="book.html" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/favorites.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>Book</span>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- <ul class="sidebar-mid">

            </ul> -->
            <ul class="sidebar-bottom">
                <li class="sidebar-item">
                    <a href="#setting" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/setting.svg" alt="">
                        </div>
                        <div class="product-text">
                            <span>setting</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="login.html" class="product">
                        <div class="product-icon">
                            <img src="./assets/icons/logout.svg" alt="">
                        </div>
                        <div href="login.html" class="product-text">
                            <span>logout</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <header class="top-bar">
            <div class="top-bar-left">
                <input type="checkbox" id="menu-click">
                <label for="menu-click" class="menu-icon">
                    <img src="./assets/icons/menu.svg" alt="">
                </label>
                <div class="search-box">
                    <div class="search-icon">
                        <img src="./assets/icons/search.svg" alt="">
                    </div>
                    <div class="search-input">
                        <input id="search" type="text" placeholder="Search category, book title" onkeyup="search()">
                        <ul id="search-result" class="list-search-category">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="top-bar-right">
                <div class="notify">
                    <img src="./assets/images/notify.png" alt="">
                </div>
                <div class="country">
                    <div class="flag">
                        <img src="./assets/images/Flag.png" alt="">
                    </div>
                    <div class="country-name">
                        <span>English</span>
                        <img src="./assets/icons/Drop Down.svg" alt="">
                    </div>
                </div>
                <div class="user-box">
                    <div class="avatar">
                        <img src="./assets/images/man-438081_960_720.png" alt="">
                    </div>
                    <div class="user-info">
                        <div class="user-name">
                            <span>Moni Roy</span>
                        </div>
                        <div class="user-role">
                            <span>Admin</span>
                        </div>
                    </div>
                    <div class="more">
                        <img src="./assets/icons/More.svg" alt="">
                    </div>
                </div>
            </div>
        </header>
        <section class="dashboard-content">
            <div class="heading">
                <h1>Book</h1>
            </div>
            <div class="add-content">
                <div class="form-box">
                    <!-- <div class="form-upload">
                        <div class="upload">
                            <input type="file" name="image" accept="image/*" id="upload-photo" onchange="previewImage(event)">
                            <label for="upload-photo" class="upload-icon">
                                <img src="./assets/icons/camera.svg" alt="">
                            </label>
                        </div>
                        <label for="upload-photo">Upload Photo</label>
                    </div> -->
                    <div class="form-input">
                        <div class="form-group">
                            <label for="book-id">ID</label>
                            <input type="text" name="book-id" id="book-id" placeholder="Enter book id">
                        </div>
                        <div class="form-group">
                            <label for="your-email">Image Path</label>
                            <input type="text" name="book-image" id="book-image" placeholder="Enter image path">
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="form-group">
                            <label for="fist-name">Title</label>
                            <input type="text" name="title" id="book-title" placeholder="Enter book title">
                        </div>
                        <div class="form-group">
                            <label for="last-name">Author</label>
                            <input type="text" name="book-author" id="book-author" placeholder="Enter book author">
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="form-group">
                            <label for="your-email">Publisher</label>
                            <input type="text" name="book-publisher" id="book-publisher" placeholder="Enter publisher">
                        </div>
                        <div class="form-group">
                            <label for="phone-number">Price</label>
                            <input type="text" name="book-price" id="book-price" placeholder="Enter book price">
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select id="category">
                                <option value="" disabled selected hidden>-- Select category --</option>
            
                            </select>                            
                        </div>
                    </div>
                    <div class="form-button">
                        <button onclick="submitBook()">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="list">
                <input type="hidden" id="id_delete_book" value="">
                <table id="table-book">
                    <!-- <tr class="table-title">
                        <th>Image</th>
                        <th>ID</th>
                        <th>Category</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr> -->
                    <!-- <tr>
                        <td>
                            <img src="./assets/images/Flag.png" alt="">
                        </td>
                        <td>00001</td>
                        <td>Category</td>
                        <td>Title</td>
                        <td>Author</td>
                        <td>Publisher</td>
                        <td>Price</td>
                        <td>
                            <div class="action">
                                <div class="edit">
                                    <img src="./assets/icons/pencil-write.svg" alt="">
                                </div>
                                <div class="delete">
                                    <img src="./assets/icons/bin.svg" alt="">
                                </div>
                            </div>
                        </td>
                    </tr> -->
                </table>
            </div>
        </section>
        <section id="paginate">
            <!-- <div id="prev-page" onclick="prevPage()">
                <img src="./assets/icons/prev.svg" alt="">
            </div>
            <div id="page-link">
                <span>1</span>
            </div>
            <div id="next-page" onclick="nextPage()">
                <img src="./assets/icons/next.svg" alt="">
            </div> -->
        </section>
</body>
<script src="./assets/js/main.js"></script>
</html>