<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-manager</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body onload="
            showData(book, 'book');
            loadSelectCategory();
            typePage('Book')">
    <nav include-html="./layouts/navigation.html" class="navigation"></nav>
    <main>
        <header include-html="./layouts/header.html" class="top-bar"></header>
        <section class="dashboard-content">
            <div class="heading">
                <h1>Book</h1>
            </div>
            <div class="add-content">
                <div class="book-form form-box">
                    <!-- <div class="form-upload">
                        <div class="upload">
                            <input type="file" name="image" accept="image/*" id="upload-photo" onchange="previewImage(event)">
                            <label for="upload-photo" class="upload-icon">
                                <img src="./assets/icons/camera.svg" alt="">
                            </label>
                        </div>
                        <label for="upload-photo">Upload Photo</label>
                    </div> -->
                    <div class="form-input">
                        <div class="form-group">
                            <label for="book-id">ID</label>
                            <input type="text" name="id" id="book-id" placeholder="Enter book id">
                        </div>
                        <div class="form-group">
                            <label for="fist-name">Title</label>
                            <input type="text" name="title" id="book-title" placeholder="Enter book title">
                        </div>
                        
                    </div>
                    <div class="form-input">
                        <div class="form-group">
                            <label for="your-email">Image Path</label>
                            <input type="text" name="image" id="book-image" placeholder="Enter image path">
                        </div>
                        <div class="form-group">
                            <label for="last-name">Author</label>
                            <input type="text" name="author" id="book-author" placeholder="Enter book author">
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="form-group">
                            <label for="your-email">Publisher</label>
                            <input type="text" name="publisher" id="book-publisher" placeholder="Enter publisher">
                        </div>
                        <div class="form-group">
                            <label for="phone-number">Price</label>
                            <input type="text" name="price" id="book-price" placeholder="Enter book price">
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select name="category" id="category">
                                <option value="" disabled selected hidden>-- Select category --</option>
            
                            </select>                            
                        </div>
                    </div>
                    <div class="form-button">
                        <button onclick="submitData('book')">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="list">
                <table id="table">

                </table>
            </div>
            <section id="paginate">

            </section>
        </section>   
    </main>
</body>
<script src="./assets/js/header.js"></script>
<script src="./assets/js/main.js"></script>
</html>