<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-manager Login</title>
    <link rel="stylesheet" href="./assets/css/login-style.css">
</head>
<body>
    <main class="form-login">
        <header class="form-top">
            <h1>Login to Account</h1>
            <span class="note">Please enter your email and password to continue</span>
        </header>
        <div class="form-mid">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input id="email" type="text" placeholder="esteban_schiller@gmail.com">
            </div>
            <div class="form-group">
                <div class="password-note">
                    <label for="password">Password:</label>
                    <a href="">Forget Password?</a>
                </div>
                <input id="password" type="text">
                <div class="remember-password">
                    <input type="checkbox" name="" id="remember">
                    <label for="remember">Remember Password</label>
                </div>
            </div>
        </div>
        <div class="form-bottom">
            <button class="login-btn">Sign In</button>
            <div class="create-account">
                <span>Don’t have an account?</span>
                <a href="">Create Account</a>
            </div>
        </div>
    </main>
</body>
</html>